<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AdDuplexWinPhone81" version="8.5.0.5" targetFramework="wpa81" />
  <package id="Microsoft.AdMediator.WindowsPhone81.AdDuplex" version="1.0.10" targetFramework="wpa81" />
  <package id="Microsoft.AdMediator.WindowsPhone81.MicrosoftAdvertising" version="1.0.11" targetFramework="wpa81" />
  <package id="Microsoft.Advertising.WindowsPhone.Xaml81" version="8.1.40505.0" targetFramework="wpa81" />
</packages>